.mainForm{
    display:flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;

}

#salutation{
    width: 20%;

}

.bt
{
    display: flex;
    justify-content: center;
}


.gender
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.main{
    margin:  50px auto;
    width: 85%;
}